<div class="banner" style="background-image: url(https://raw.githubusercontent.com/lewagon/layouts-demo/gh-pages/images/mapbox.png); height: 320px; background-size: cover;">
</div>
<div class="container">
  <div class="row">
    <div class="col-7">
      <div class="card bg-light mt-3 mb-2">
        <div class="card-body">
        <h5 class="card-title"><%= @flat.name %></h5>
        <p class="card-text"><%= @flat.address %></p>
      </div>
    </div>
    <div class="col-4">
      <div>
        <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Example select</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect2">Example multiple select</label>
          <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        </form>
      </div>
    </div>
  </div>
    <div class="col-7">
      <div class="card bg-light m-3 mb-2"">
        <div class="card-body">
          <h5 class="card-title">A bit more about the flat... 🏡</h5>
          <p class="card-text"><%= @flat.description %></p>
        </div>
      </div>
    </div>
    <div class="col-7">
      <div class="card bg-light m-3 mb-2"">
        <div class="card-body">
          <h5 class="card-title">Details</h5>
          <p class="card-text"><i class="fas fa-users"></i><%= @flat.number_of_guests %>
                  <i class="fas fa-euro-sign"></i><%= @flat.price_per_night %></p>
        </div>
      </div>
    </div>
  </div>
</div>
